<form class="form-group" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{"skill" | translate | titlecase}}</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

    <mat-slider color="primary" min="0" max="100" step="1" formControlName="level" discrete>
    <input matSliderThumb>
    </mat-slider>
    <div class="d-flex justify-content-between">
      <mat-icon *ngIf="!formGroup.controls['confirmed'].value" [matTooltip]="i18nService.getTranslation('confirmSkill')" (click)="confirmSkill()">check</mat-icon>
      <i class="fa-solid fa-trash ms-auto" [matTooltip]="i18nService.getTranslation('deleteItem')" (click)="deleteItem()"></i>
    </div>
</form>
