<div class="container px-2 py-4">
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="userFormGroup" label="Dati personali">
      <form [formGroup]="userFormGroup">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cognome</mat-label>
            <input matInput formControlName="surname">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Data di nascita</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>phoneNumber</mat-label>
            <input matInput formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Introduzione</mat-label>
            <textarea matInput formControlName="intro"></textarea>
          </mat-form-field>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="educationItemsFormGroup" label="Educazione">
      <ng-container *ngFor="let educationItemFormGroup of educationItemsAsFormGroupArray; let i = index">
        <form class="form-group" [formGroup]="educationItemFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Data di Inizio</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfStart">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Data di Fine</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="dateOfEnd">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Luogo</mat-label>
            <input matInput formControlName="location">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Descrizione</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Indirizzo</mat-label>
            <input matInput formControlName="field">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Titolo</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Voto Finale</mat-label>
            <input matInput formControlName="graduation">
          </mat-form-field>
          <mat-button-toggle class="delete-btn" >
            <mat-icon (click)="deleteEducationItem(i)">delete_forever</mat-icon>
          </mat-button-toggle>
        </form>
      </ng-container>
      <mat-button-toggle mat-mini-fab class="add-btn" (click)="addEducationItem()">
        <mat-icon>add</mat-icon>
      </mat-button-toggle>
    </mat-step>
    <mat-step [stepControl]="skillsFormGroup" label="Competenze">
      <ng-container *ngFor="let skillFormGroup of skillsAsFormGroupArray; let i = index">
        <form class="form-group" [formGroup]="skillFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Competenza</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
          <mat-slider min="0" max="100" step="1" formControlName="level"
                      [displayWith]="formatLabel">
            <input matSliderThumb>
          </mat-slider>
        </form>
      </ng-container>
      <mat-button-toggle mat-mini-fab (click)="addSkill()">
        <mat-icon class="add-btn">add</mat-icon>
      </mat-button-toggle>
    </mat-step>
    <mat-step label="Esperienze professionali">

    </mat-step>
    <mat-step label="Genera Curriculum">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
