<div class="container px-2 py-4">
  <mat-stepper orientation="vertical" [linear]="true">

    <!-- User Form -->
    <mat-step [stepControl]="userFormGroup" [label]="getMatLabelI18n('personalData') | titlecase">
      <app-user-form [userFormGroup]="userFormGroup"></app-user-form>
    </mat-step>

    <!-- Education Form -->
    <mat-step [stepControl]="educationItemsFormGroup" [label]="getMatLabelI18n('education') | titlecase">
      <ng-container *ngFor="let educationItemFormGroup of educationItemsAsFormGroupArray; let i = index">
        <app-education-form [formGroup]="educationItemFormGroup" [index]="i"
                            (deleteEvent)="deleteItem($event, educationItems)">
        </app-education-form>
      </ng-container>
      <mat-button-toggle mat-mini-fab class="add-btn" (click)="addEducationItem()">
        <mat-icon>add</mat-icon>
      </mat-button-toggle>
    </mat-step>

    <!-- Skill Form -->
    <mat-step [stepControl]="skillsFormGroup" [label]="getMatLabelI18n('skills') | titlecase">
      <ng-container *ngFor="let skillFormGroup of skillsAsFormGroupArray; let i = index">
        <app-skill-form [formGroup]="skillFormGroup" [index]="i"
                        (deleteEvent)="deleteItem($event, skills)">
        </app-skill-form>
      </ng-container>
      <mat-button-toggle mat-mini-fab (click)="addSkill()">
        <mat-icon class="add-btn">add</mat-icon>
      </mat-button-toggle>
    </mat-step>

    <!-- Experience Form -->
    <mat-step [label]="getMatLabelI18n('professionalCareer') | titlecase">
      <ng-container *ngFor="let experienceItemFormGroup of experienceItemsAsFormGroupArray; let i = index">
        <app-experience-form [formGroup]="experienceItemFormGroup"
                             [index]="i" (deleteEvent)="deleteItem($event, experienceItems)">
        </app-experience-form>
      </ng-container>
      <mat-button-toggle mat-mini-fab (click)="addExperienceItem()">
        <mat-icon class="add-btn">add</mat-icon>
      </mat-button-toggle>
    </mat-step>

    <!-- Contact Form -->
    <mat-step [label]="getMatLabelI18n('contacts') | titlecase">
      <ng-container *ngFor="let contactFormGroup of contactsAsFormGroupArray; let i = index">
        <app-contact-form [formGroup]="contactFormGroup" [index]="i"
                          (deleteEvent)="deleteItem($event, contacts)">
        </app-contact-form>
      </ng-container>
      <mat-button-toggle mat-mini-fab (click)="addContact()">
        <mat-icon class="add-btn">add</mat-icon>
      </mat-button-toggle>
    </mat-step>

    <!-- Generate CV -->
    <mat-step [label]="getMatLabelI18n('generateCv') | titlecase">
      <div>
        <mat-button-toggle (click)="downloadCV()">{{"generate" | translate | titlecase}}</mat-button-toggle>
      </div>
    </mat-step>

  </mat-stepper>
</div>
