<form class="form-group" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{"social" | translate | titlecase}}</mat-label>
    <input matInput formControlName="social">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"link" | translate | titlecase}}</mat-label>
    <input matInput formControlName="link">
  </mat-form-field>
  <div>
    <i class="fa-solid fa-trash" [matTooltip]="i18nService.getTranslation('deleteItem')" (click)="deleteItem()"></i>
  </div>
</form>
