<form class="form-group" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{"dateOfStart" | translate | titlecase}}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOfStart">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"dateOfEnd" | translate | titlecase}}</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="dateOfEnd">
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"location" | translate | titlecase}}</mat-label>
    <input matInput formControlName="location">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"description" | translate | titlecase}}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{"appliedSkills" | translate | titlecase}}</mat-label>
    <mat-select multiple="true" formControlName="appliedSkills" multiple>
      <mat-option *ngFor="let skill of confirmedSkills" [value]="skill.title">{{skill.title}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <i class="fa-solid fa-trash float-end" [matTooltip]="i18nService.getTranslation('deleteItem')" (click)="deleteItem()"></i>
  </div>
</form>
