<main class="container mt-4">
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab [label]="i18nService.getTranslation('startup') | titlecase">
      <app-startup (templateEvent)="setTemplate($event)"></app-startup>
    </mat-tab>
    <mat-tab [label]="i18nService.getTranslation('main.photo') | titlecase">
      <app-upload-file [uploaded]="pictureUploaded" (picture)="setImg($event)"></app-upload-file>
    </mat-tab>
    <mat-tab [label]="i18nService.getTranslation('main.fill') | titlecase">
      <app-cv-form (cv)="setCv($event)"></app-cv-form>
    </mat-tab>
  </mat-tab-group>
</main>
