$active-color: #1a53a1;

.dropzone {
  background-color: #ffffff;
  border: 3px dashed rgba(128, 124, 124, 0.8);
  border-radius: 15px 15px 15px 15px;
  height: 25vh;
  width: 50vw;
  padding-top: 15px;

  .fa-cloud-upload {
    color: #807c7c;
    margin-left: 35px;
  }

  .title-drop {
    color: #807c7c;
  }

  .active {
    color: $active-color;
  }

}

.active-zone {
  border: 3px dashed $active-color;
}
